<div class="container main-container">
    <!-- Title -->
    <div class="animated fadeIn fast">
        <h1>Heroes</h1>
        <hr>
        <p class="lead">
            Marvel y DC
        </p>
    </div>

    <!-- Heroes list -->
    <div class="card-columns">
        <div class="card animated fadeIn" *ngFor="let data of heroes; let i = index">
            <img class="card-img-top " [src]="data.img " [alt]="data.nombre">
            <div class="card-body ">
                <h4 class="card-title ">{{ data.nombre }}</h4>
                <p class="card-text ">{{ data.bio }}</p>
                <p class="card-text ">
                    <small class="text-muted ">{{ data.aparicion }}</small>
                </p>
                <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block ">Ver mas...</a>
            </div>
        </div>
    </div>
</div>